*{
    box-sizing: border-box;
}

.homework{
background-color: red;
text-align: center;
text-transform: uppercase;
font-weight: bold;
padding: 5px;
margin: 5px;
}

.broken{
background-color: lightskyblue;
text-align: center;
text-transform: uppercase;
font-weight: bold;
padding: 5px;
margin: 5px;

}

.cloud{
background-color: yellow;
text-align: center;
text-transform: uppercase;
font-weight: bold;
padding: 5px;
margin: 5px;
}

@media (min-width: 60em){
    
    body{
        display: grid;
        grid-template-columns: 6fr 6fr;
    }

}

@media (min-width: 60em){
    
    body{
        display: grid;
        grid-template-columns: 6fr 6fr;
    }

}

@media (min-width: 80em){
    
    body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .homework{
        grid-row: 1/ span 3;
        grid-column-start: 3; 
    }



}
