*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
}

.homework{
background-color: red;
text-transform: uppercase;
font-weight: bold;
padding: 5px;
margin: 5px;

}

h1{
    align-self: center;
}

.broken{
background-color: lightskyblue;
text-transform: uppercase;
font-weight: bold;
padding: 5px;
margin: 5px;

}

.cloud{
background-color: yellow;
text-transform: uppercase;
font-weight: bold;
padding: 5px;
margin: 5px;
display: grid;
}

@media (min-width: 60em){
    
    body{
        display: grid;
        grid-template-columns: 6fr 6fr;
    }

}

@media (min-width: 80em){
    
    div{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(5, auto);
        align-items: center;
        grid-auto-flow: column;
        grid-column-gap: 20px;
       
    }
        
    .broken{
        display: grid;
        grid-row: 1/4;
        grid-column: 3/4;
    }

    .cloud {
        display: grid;
        grid-row: 2/4;
        grid-column: 4/6;
    }
 
    div p {
        align-content: center;
        text-align: center;
    }



}
