.container{
   background-color: lightgoldenrodyellow;
   margin-top: 30px;
   width: 500px;
   height: 600px;
}

.image{
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.imageInside{
    display: none;
}

.imageOutside{
    display: none;
}

h1{
    color: white;
}




